body {
  line-height: normal;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

.app-bar {
  z-index: 1000;
  box-sizing: border-box;
  height: 64px;
  background-color: #009688;
  color: white;
  font-size: 20px;
  padding: 0 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  overflow: hidden;
}

.app-bar__left {
  float: left;
  overflow: auto;
}
.app-bar__left .icon-button {
  float: left;
  margin-top: 20px;

}

.app-bar__left h1 {
  float: left;
  margin-left: 32px;
  margin-right: 59px;
  margin-top: 18px;
}

.app-bar .search-bar {
  display: block;
  box-sizing: border-box;

  margin: 0;
  margin-top: 8px;
  width: 722px;
  height: 48px;
  border: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.18);
  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-position: 19px 14px;

  font-size: 16px;
  color: white;
  padding-left: 76px; 

  outline: 0;
}

.app-bar .search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.app-bar__right {
  float: right;
}

.app-bar__right .icon-button {
  margin-top: 20px;
}

.contents {
  padding-top: 62px;
}
.container {
  margin: 0 auto;
  width: 924px;
}

.section-header {
  box-sizing: border-box;
  height: 48px;
  font-size: 14px;
  color: var(--black-87);
  padding-left: 12px;
  padding-top: 14px;
}

.icon-button {
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent;
}

.footer {
  box-sizing: border-box;
  padding-top: 56px;
  height: 132px;
  background-color: #333333;
  
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}


}