input {
  font-family: 'Roboto', sans-serif;
}


body {
  line-height: normal;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

h2 {
  box-sizing: border-box;
  height: 48px;
  font-size: 14px;
  color: #009789;
  padding-top: 14px;
  padding-left: 16px;
}

.icon-button {
  margin: 0;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background: none;
}

.app-bar {
  box-sizing: border-box;
  height: 56px;
  background-color: #009688;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  overflow: hidden;
}


.app-bar-left {
  float: left;
  overflow:hidden;
}
.app-bar-left h1 {
  
  float: left;

  font-size: 20px;
  color: white;
  padding-top: 14px;
}

.app-bar-left .icon-button {
  float: left;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;

}

.app-bar-left .search-bar {
  display: none;
  }

.app-bar-right {
  float: right;
  margin-top: 16px;
  overflow:auto;
}



.app-bar-right .icon-button:first-child {
  margin-right: 16px;
}

.app-bar-right .icon-button {
  margin-right: 10px;
}


.contents{
  padding-top: 62px;

}

.footer {
  display: none;
}


 @media screen and (min-width: 1080px) {

  h2 {
    box-sizing: border-box;
    height: 48px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 14px;
    padding-left:16px;

  }

  .app-bar {
    height: 64px;
  }


  .app-bar-left h1 {
    padding-top: 18px;
  }

  .app-bar-left .icon-button {
    margin-right: 32px;
    margin-left: 24px;
    margin-top: 20px;

  }

  .app-bar-left .search-bar {
    display: block;
    float: left;
    margin-left: 59px;
    margin-top: 8px;
    box-sizing: border-box;
    width: 722px;
    height: 48px;
    padding-left: 76px;
    border:none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.18);
    background-image: url('search.svg');
    background-repeat: no-repeat;
    background-position: 19px 14px;

    outline: 0;

    font-size: 16px;
    color: white;

  }

  .app-bar-left .search-bar::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  .app-bar-right {
    margin-top: 20px;
  }



  .app-bar-right .icon-button{
    margin-right: 24px;
  }

  .app-bar-right .icon-button.search-button {
    display: none;
  }


  .contents{
    padding-top: 64px;
  }

  .container {
    margin: 0 auto;
    width: 924px;

  }

  .footer {
    display: block;
    box-sizing: border-box;
    height: 132px;
    background-color: #333333;

    font-size: 12px;
    text-align: center;
    padding-top: 56px;
    color: rgba(255, 255, 255, 0.5)

  }

 }
